.scene
{
    color: rgb(47, 243, 21);
}
.speech
{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    color: black;
}
.direction
{
    background-color: bisque;
    font-family:cursive;
    font-size: smaller;
    color: black;
}
.name
{
    font-style:italic;
    font-size: large;
    color: black;
}
.MARIANE
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(62, 75, 255);  
}
.ORGON
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 11, 223);
}
.direction:hover {
    background-color:aqua;
    color:red 
    }
table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        color:rgb(233, 1, 1);
        padding: 10px;
        margin: 20px;
    }
tr:nth-child(even) {
        background-color: #8F9AA5;
    }
.name:hover {
    text-shadow:2px 2px 5px green;
    border: 2px dashed #32557f 
        }
ul.navbar-horizontal {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    }
ul.navbar-horizontal li {
    float:left; 
    background-color:#555;
    }
ul.navbar-horizontal a {
    color: black;
    display:block;
    padding:20px;
    margin: 10px;
}
ul.navbar-horizontal a:hover {  
    background-color:burlywood;
    color:white;
    }
.icon{
    float: right;
}
