.scene
{
    color: rgb(47, 243, 21);
}
.speech
{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    color: black;
}
.direction
{
    background-color: bisque;
    font-family:cursive;
    font-size: smaller;
    color: black;
}
.name
{
    font-style:italic;
    font-size: large;
    color: black;
}
.MARIANE
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(62, 75, 255);  
}
.ORGON
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 11, 223);
}
.direction:hover {
    background-color:aqua;
    color:red
    
    }
table, th, td {
        border: 1px solid black;
        color: coral;
        background-color: azure;
        text-align: center;
        margin:20px;
      }